{
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": true,
  "bracketSpacing": true,
  "useTabs": true,
  "semi": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf"
}
